// Square_macro.keymap
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp N4    // Row 0
                &kp N5    &kp N6    &kp N7    &kp N8    // Row 1
                &kp N9    &kp N0    &kp A     &kp B     // Row 2
                &kp C     &kp D     &kp E     &kp F     // Row 3
                &kp G     &kp H     &kp I     &kp J     // Row 4
            >;
        };
    };
};